#vBox {
  -fx-margin: 4px 2px;
  -fx-padding: 5px;
}

.button {
  -fx-align-items: center;
  -fx-background-color: aqua;
  -fx-border: 0;
  -fx-border-color: black;
}

.button:hover,
.button:focus {
  -fx-align-items: center;
  -fx-background-color: rgb(0, 173, 173);
  -fx-border: 0;
  -fx-border-color: black;
}

#someBorderPane {
  -fx-padding: 5 5 5 5;
}

#topMenu {
  -fx-margin: center;
}

#menuActivation {
  -fx-background-color: rgb(255, 0, 212);
}

#vBox {
  -fx-border-style: hidden solid hidden hidden;
  -fx-border-width: 1;
  -fx-border-color: black;
}

#vbox_debug {
  -fx-padding: 5 10 10 10;
  -fx-border-style: hidden hidden hidden solid;
  -fx-border-width: 1;
  -fx-border-color: black;
}

#vbox_debug .vbox_debug_section {
  -fx-border-color: black;
  -fx-border-width: 1;
}

.debugSectionHeader {
  -fx-pref-width: 228;
  -fx-background-color: black;
  -fx-text-fill: white;
  -fx-padding: 5;
  -fx-font-weight: bold;
}

.debugText {
  -fx-line-spacing: 2em;
  -fx-padding: 5;
}

center {
  -fx-border-color: blue;
  -fx-border-width: 1;
}
