#menuActivation {
    -fx-background-color: rgb(255, 0, 212);
}

#vbox_debug, #vBox {
    -fx-padding: 5 10 10 10;
    -fx-border-style: hidden hidden hidden solid;
    -fx-border-width: 1;
    -fx-border-color: black;
}

#vBox {
    -fx-border-style: hidden solid hidden hidden;
}

.vbox_debug_section {
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-background-color: white;
}

.debugSectionHeader {
    -fx-min-width: 200;
    -fx-pref-width: 250;
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-padding: 5;
    -fx-font-weight: bold;
}

.debugText {
    -fx-line-spacing: 2em;
    -fx-padding: 5;
}

center {
    -fx-border-color: blue;
    -fx-border-width: 1;
}

#paintBox {
    -fx-border-style: hidden hidden hidden solid;
    -fx-border-color:grey;
    -fx-padding:0 0 0 5;
}